@font-face {
  font-family: "iconfont"; /* Project id 4356808 */
  src: url('iconfont.woff2?t=1707808486506') format('woff2'),
       url('iconfont.woff?t=1707808486506') format('woff'),
       url('iconfont.ttf?t=1707808486506') format('truetype');
<#noparse>}</#noparse>

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
<#noparse>}</#noparse>

.icon-file:before {
  content: "\e63d";
<#noparse>}</#noparse>

.icon-file1:before {
  content: "\e63e";
<#noparse>}</#noparse>

.icon-word:before {
  content: "\e603";
<#noparse>}</#noparse>

.icon-pdf:before {
  content: "\e604";
<#noparse>}</#noparse>

.icon-word1:before {
  content: "\e607";
<#noparse>}</#noparse>

.icon-excel:before {
  content: "\e665";
<#noparse>}</#noparse>

.icon-pdf1:before {
  content: "\e605";
<#noparse>}</#noparse>

.icon-excel1:before {
  content: "\ea46";
<#noparse>}</#noparse>

.icon-exit-fullscreen2:before {
  content: "\e768";
<#noparse>}</#noparse>

.icon-exit-fullscreen1:before {
  content: "\e671";
<#noparse>}</#noparse>

.icon-exit-fullscreen:before {
  content: "\eb98";
<#noparse>}</#noparse>

.icon-menu1:before {
  content: "\e61a";
<#noparse>}</#noparse>

.icon-menu:before {
  content: "\e634";
<#noparse>}</#noparse>

.icon-member:before {
  content: "\e628";
<#noparse>}</#noparse>

.icon-member1:before {
  content: "\e77d";
<#noparse>}</#noparse>

.icon-user:before {
  content: "\e629";
<#noparse>}</#noparse>

.icon-user1:before {
  content: "\e6ab";
<#noparse>}</#noparse>

.icon-role1:before {
  content: "\e618";
<#noparse>}</#noparse>

.icon-log2:before {
  content: "\e68d";
<#noparse>}</#noparse>

.icon-log1:before {
  content: "\e663";
<#noparse>}</#noparse>

.icon-icon:before {
  content: "\eb80";
<#noparse>}</#noparse>

.icon-maintenance:before {
  content: "\e615";
<#noparse>}</#noparse>

.icon-maintenance1:before {
  content: "\e6af";
<#noparse>}</#noparse>

.icon-maintenance2:before {
  content: "\e616";
<#noparse>}</#noparse>

.icon-home5:before {
  content: "\e601";
<#noparse>}</#noparse>

.icon-home4:before {
  content: "\e610";
<#noparse>}</#noparse>

.icon-home3:before {
  content: "\e602";
<#noparse>}</#noparse>

.icon-home:before {
  content: "\e6cb";
<#noparse>}</#noparse>

.icon-home1:before {
  content: "\e62e";
<#noparse>}</#noparse>

.icon-home2:before {
  content: "\e8c6";
<#noparse>}</#noparse>

.icon-permission:before {
  content: "\e8a3";
<#noparse>}</#noparse>

.icon-settings1:before {
  content: "\e8b7";
<#noparse>}</#noparse>

.icon-monitor:before {
  content: "\e613";
<#noparse>}</#noparse>

.icon-interface:before {
  content: "\e74a";
<#noparse>}</#noparse>

.icon-emoji:before {
  content: "\ec80";
<#noparse>}</#noparse>

.icon-interface2:before {
  content: "\e60b";
<#noparse>}</#noparse>

.icon-maintenance4:before {
  content: "\e6a5";
<#noparse>}</#noparse>

.icon-task:before {
  content: "\e612";
<#noparse>}</#noparse>

.icon-teacher:before {
  content: "\e633";
<#noparse>}</#noparse>

.icon-yuyue1:before {
  content: "\e65f";
<#noparse>}</#noparse>

.icon-class:before {
  content: "\e60d";
<#noparse>}</#noparse>

.icon-department:before {
  content: "\e621";
<#noparse>}</#noparse>

.icon-contract:before {
  content: "\e6c8";
<#noparse>}</#noparse>

.icon-customer1:before {
  content: "\e648";
<#noparse>}</#noparse>

.icon-message:before {
  content: "\e8bd";
<#noparse>}</#noparse>

.icon-goods:before {
  content: "\e683";
<#noparse>}</#noparse>

.icon-score:before {
  content: "\e61b";
<#noparse>}</#noparse>

.icon-course1:before {
  content: "\e61f";
<#noparse>}</#noparse>

.icon-course2:before {
  content: "\e630";
<#noparse>}</#noparse>

.icon-store:before {
  content: "\e6f6";
<#noparse>}</#noparse>

.icon-address3:before {
  content: "\e814";
<#noparse>}</#noparse>

.icon-contract1:before {
  content: "\e614";
<#noparse>}</#noparse>

.icon-contract2:before {
  content: "\e619";
<#noparse>}</#noparse>

.icon-role:before {
  content: "\e60c";
<#noparse>}</#noparse>

.icon-teacher1:before {
  content: "\e81f";
<#noparse>}</#noparse>

.icon-store2:before {
  content: "\e60a";
<#noparse>}</#noparse>

.icon-position1:before {
  content: "\e716";
<#noparse>}</#noparse>

.icon-login-log:before {
  content: "\ea45";
<#noparse>}</#noparse>

.icon-position:before {
  content: "\e611";
<#noparse>}</#noparse>

.icon-user-group:before {
  content: "\e70b";
<#noparse>}</#noparse>

.icon-student2:before {
  content: "\e73f";
<#noparse>}</#noparse>

.icon-student1:before {
  content: "\e740";
<#noparse>}</#noparse>

.icon-goods1:before {
  content: "\e600";
<#noparse>}</#noparse>

.icon-address2:before {
  content: "\e652";
<#noparse>}</#noparse>

.icon-course3:before {
  content: "\e6be";
<#noparse>}</#noparse>

.icon-contract4:before {
  content: "\e632";
<#noparse>}</#noparse>

.icon-order:before {
  content: "\e65c";
<#noparse>}</#noparse>

.icon-store1:before {
  content: "\e606";
<#noparse>}</#noparse>

.icon-dict:before {
  content: "\e666";
<#noparse>}</#noparse>

.icon-settings:before {
  content: "\e8b8";
<#noparse>}</#noparse>

.icon-student:before {
  content: "\e7c0";
<#noparse>}</#noparse>

.icon-notice:before {
  content: "\e62f";
<#noparse>}</#noparse>

.icon-address1:before {
  content: "\e63f";
<#noparse>}</#noparse>

.icon-log:before {
  content: "\e644";
<#noparse>}</#noparse>

.icon-score2:before {
  content: "\e67e";
<#noparse>}</#noparse>

