// - 主色调
$--color-primary: #2d8cf0;
// - 危险色
$--color-danger: #F56C6C;
// - 字体路径
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@use 'element/index' as *;

// 自定义主题
// 主色调
$--color-primary-light: mix($color-white, $--color-primary, 20%);
$--color-primary-dark: mix($color-black, $--color-primary, 10%);
// 头部高度
$--header-height: 60px;
// 菜单宽度
$--menu-width: 255px;
// 页面最小宽度
$--page-min-width: 1000px;
// 字体
$--font-color: #282828;
$--font-color-gray: #999;
$--font-color-gray-deep: #555;
$--font-size: 13px;
$--font-family: 'Avenir', Helvetica, Arial, sans-serif;
// 背景色
$--background-color: #f7f7f7;
// 登录按钮背景色
$--login-button-background-color: linear-gradient(130deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
// 菜单
$--menu-background-color: #2f3044;
$--menu-hover-background-color: mix($color-white, $--menu-background-color, 20%);
$--menu-text-color: #9f9f9f;
$--menu-text-hover-color: #f7f7f7;
$--menu-active-background-color: $--menu-text-hover-color;
$--menu-active-text-color: #333;
$--menu-active-text-hover-color: $--menu-active-text-color;
$--menu-active-radius-size: 25px;
$--submenu-background-color: mix($color-black, $--menu-background-color, 20%);
// 危险色
$--color-danger-hover: mix($color-white, $--color-danger, 20%);
// alert提示色
$--alert-background-color: #f0faff;
$--alert-text-color: #555;
$--alert-border-color: #abdcff;
// 标签
$--tag-background-color: #eef5fd;
$--tag-text-color: #555;
$--tag-border-color: #abdcff;
:root {
  // 头部高度
  --header-height: <#noparse>#{</#noparse>$--header-height<#noparse>}</#noparse>;
  // 菜单宽度
  --menu-width: <#noparse>#{</#noparse>$--menu-width<#noparse>}</#noparse>;
  // 页面最小宽度
  --page-min-width: <#noparse>#{</#noparse>$--page-min-width<#noparse>}</#noparse>;
  // 字体
  --font-color: <#noparse>#{</#noparse>$--font-color<#noparse>}</#noparse>;
  --font-color-gray: <#noparse>#{</#noparse>$--font-color-gray<#noparse>}</#noparse>;
  --font-color-gray-deep: <#noparse>#{</#noparse>$--font-color-gray-deep<#noparse>}</#noparse>;
  --font-size: <#noparse>#{</#noparse>$--font-size<#noparse>}</#noparse>;
  --font-family: <#noparse>#{</#noparse>$--font-family<#noparse>}</#noparse>;
  // 主色调（注意：受到Element-UI的实现影响，修改该变量并不会影响Element-UI的主题色，如需调整组件主色调，需调整$--color-primary变量）
  --color-primary: <#noparse>#{</#noparse>$--color-primary<#noparse>}</#noparse>;
  --color-primary-light: <#noparse>#{</#noparse>$--color-primary-light<#noparse>}</#noparse>;
  --color-primary-dark: <#noparse>#{</#noparse>$--color-primary-dark<#noparse>}</#noparse>;
  // 背景色
  --background-color: <#noparse>#{</#noparse>$--background-color<#noparse>}</#noparse>;
  // 登录按钮背景
  --login-button-background-color: <#noparse>#{</#noparse>$--login-button-background-color<#noparse>}</#noparse>;
  // 菜单色调
  --menu-background-color: <#noparse>#{</#noparse>$--menu-background-color<#noparse>}</#noparse>;
  --menu-hover-background-color: <#noparse>#{</#noparse>$--menu-hover-background-color<#noparse>}</#noparse>;
  --menu-text-color: <#noparse>#{</#noparse>$--menu-text-color<#noparse>}</#noparse>;
  --menu-text-hover-color: <#noparse>#{</#noparse>$--menu-text-hover-color<#noparse>}</#noparse>;
  --menu-active-background-color: <#noparse>#{</#noparse>$--menu-active-background-color<#noparse>}</#noparse>;
  --menu-active-text-color: <#noparse>#{</#noparse>$--menu-active-text-color<#noparse>}</#noparse>;
  --menu-active-text-hover-color: <#noparse>#{</#noparse>$--menu-active-text-hover-color<#noparse>}</#noparse>;
  --menu-active-radius-size: <#noparse>#{</#noparse>$--menu-active-radius-size<#noparse>}</#noparse>;
  --submenu-background-color: <#noparse>#{</#noparse>$--submenu-background-color<#noparse>}</#noparse>;
  // 危险色
  --color-danger: <#noparse>#{</#noparse>$--color-danger<#noparse>}</#noparse>;
  --color-danger-hover: <#noparse>#{</#noparse>$--color-danger-hover<#noparse>}</#noparse>;
  // alert提示色
  --alert-background-color: <#noparse>#{</#noparse>$--alert-background-color<#noparse>}</#noparse>;
  --alert-text-color: <#noparse>#{</#noparse>$--alert-text-color<#noparse>}</#noparse>;
  --alert-border-color: <#noparse>#{</#noparse>$--alert-border-color<#noparse>}</#noparse>;
  // 标签
  --tag-background-color: <#noparse>#{</#noparse>$--tag-background-color<#noparse>}</#noparse>;
  --tag-text-color: <#noparse>#{</#noparse>$--tag-text-color<#noparse>}</#noparse>;
  --tag-border-color: <#noparse>#{</#noparse>$--tag-border-color<#noparse>}</#noparse>;
<#noparse>}</#noparse>
